[submodule "GlassBack/vendor/spdlog"]
	path = GlassBack/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GlassBack/vendor/GLFW"]
	path = GlassBack/vendor/GLFW
	url = https://github.com/lccatala/glfw
[submodule "GlassBack/vendor/imgui"]
	path = GlassBack/vendor/imgui
	url = https://github.com/lccatala/imgui
[submodule "Glassback/vendor/glm"]
	path = Glassback/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Fandango/vendor/imgui"]
	path = Fandango/vendor/imgui
	url = https://github.com/lccatala/imgui.git
[submodule "Fandango/vendor/glfw"]
	path = Fandango/vendor/glfw
	url = https://github.com/lccatala/glfw.git
[submodule "Fandango/vendor/spdlog"]
	path = Fandango/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Fandango\\vendor\\glm"]
	path = Fandango\\vendor\\glm
	url = https://github.com/g-truc/glm.git
