[submodule "Fandango/vendor/spdlog"]
	path = Fandango/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Fandango/vendor/glfw"]
	path = Fandango/vendor/GLFW
	url = https://github.com/lccatala/glfw
[submodule "Fandango/vendor/imgui"]
	path = Fandango/vendor/imgui
	url = https://github.com/lccatala/imgui
  branch = docking
[submodule "Fandango/vendor/glm"]
	path = Fandango/vendor/glm
	url = https://github.com/g-truc/glm
